<!DOCTYPE html>
<html lang="en">
  <head>
    <title>HMI Registration</title>
    <script src="https://unpkg.com/html5-qrcode" type="text/javascript"></script>
    <script src="https://cdn.tailwindcss.com"></script>
  </head>
  <body class="bg-gray-100 flex items-center justify-center min-h-screen">
    <div class="bg-white shadow-lg rounded-xl p-8 w-[650px] max-w-full text-center items-center">
      <h1 class="text-xl font-semibold">Scan ID</h1>
      <div id="results" style="visibility: hidden;">Results: </div>
      <div id="reader" class="w-[600px] max-w-full"></div>
      <button id="scanButton" onclick="startScan()" class="mt-4 px-4 py-2 text-white font-semibold bg-sky-500 rounded-xl hover:bg-sky-700">Scan QR</button>
    </div>

    {% load static %}
    <script src="{% static 'script.js' %}"></script>
    
    <style>
      #reader img {
        display: block;
        margin-left: auto;
        margin-right: auto;
      }
      #reader button {
        color: #000;
        padding: 0.25rem 0.75rem;
        font-weight: 300;
        border: 1px solid #000;
      }
    </style>
  </body>
</html>