{% extends "base-sidebar-full.html" %}

{% block content %}
  <h1 class="text-xl font-semibold mb-3 text-center">View Devices</h1>
  <ol>
    {% for device in devices %}
    <li class="flex items-center justify-center">
      <span class="text-gray-500 font-medium mr-4">{{ forloop.counter }}.</span>
      <form action="" method="POST">
        <label for="device-{{ device.id }}">MAC: {{ device.mac }}, IP: {{ device.ip }}, Manufacturer: {{ device.manufacturer }}, State: </label>
        <input type="hidden" name="device_id" value="{{ device.id }}">
        <select name="state" id="{{ device.id }}">
        {% for choice in state_choices %}
          <option value="{{ choice.0 }}" {% if choice.0 == device.state %} selected {% endif %}>{{ choice.1 }}</option>
        {% endfor %}
      </select>
      {% csrf_token %}
      <button type="submit">Update</button>
      </form>
    </li>
    {% endfor %}
  </ol>
  {% if messages %}
    {% for message in messages %}
      {% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}
        <p class="text-red-700 text-center">{{ message }}</p>
      {% elif message.level == DEFAULT_MESSAGE_LEVELS.SUCCESS %}
        <p class="text-green-700 text-center">{{ message }}</p>
      {% else %}
        <p class="text-center">{{ message }}</p>
      {% endif %}
    {% endfor %}
  {% endif %}
{% endblock content %}