# If you prefer the allow list template instead of the deny list, see community template:
# https://github.com/github/gitignore/blob/main/community/Golang/Go.AllowList.gitignore
#
# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, built with `go test -c`
*.test

# Code coverage profiles and other test artifacts
*.out
coverage.*
*.coverprofile
profile.cov

# Dependency directories (remove the comment below to include it)
# vendor/

# Go workspace file
go.work
go.work.sum

# env file
.env
.venv
env/
venv/

# Editor/IDE
# .idea/
.vscode/
.cursor/
.claude/

# private keys
*.key
*.p12
ida_partner.pem
*.crt
*.csr
*.cnf
config.toml

# OS Specific
*.DS_Store
*:Zone.Identifier

# Byte-compiled / optimized / DLL files
__pycache__/

# DB files
*.sqlite3
*.db

# Logs
*.log

# CA Files
*.srl
servers/ca/CA

# Ignore all files in the ra directory except for the ones that are necessary for the server to run
servers/ra/bin
servers/ra/__pycache__
servers/ra/lib
servers/ra/share
servers/ra/pyvenv.cfg