[Unit]
Description=NDSL RA Server (Django/Gunicorn)
After=network.target ndsl-ca.service

[Service]
Type=simple
User=ec2-user
WorkingDirectory=/opt/ndsl-hmi/ra
EnvironmentFile=/opt/ndsl-hmi/ra/.env
ExecStart=/opt/ndsl-hmi/ra/venv/bin/gunicorn verification.wsgi:application -c gunicorn_config.py
Restart=on-failure
RestartSec=5

[Install]
WantedBy=multi-user.target
