[req]
distinguished_name = req_distinguished_name
req_extensions = v3_extensions
x509_extensions = v3_extensions
prompt = no

[req_distinguished_name]
C = CA
ST = .
L = .
O = .
OU = .
CN = Client

[v3_extensions]
basicConstraints = CA:FALSE
keyUsage = digitalSignature, keyAgreement
extendedKeyUsage = clientAuth
subjectAltName = @alt_names

[alt_names]
DNS.1 = localhost
IP.1 = 127.0.0.1
