[Unit]
Description=NDSL CA Server
After=network.target

[Service]
Type=simple
User=ec2-user
WorkingDirectory=/opt/ndsl-hmi/ca
ExecStart=/opt/ndsl-hmi/ca/ca-server
Restart=on-failure
RestartSec=5
EnvironmentFile=/opt/ndsl-hmi/ca/.env

[Install]
WantedBy=multi-user.target
