[Unit]
Description=NDSL Data Server
After=network.target ndsl-ra.service

[Service]
Type=simple
User=ndsl
WorkingDirectory=/opt/ndsl-hmi/servers/data
ExecStart=/opt/ndsl-hmi/servers/data/data-server
Restart=on-failure
RestartSec=5
EnvironmentFile=/opt/ndsl-hmi/servers/data/.env

[Install]
WantedBy=multi-user.target
