[Unit]
Description=NDSL Data Server
After=network.target ndsl-ra.service

[Service]
Type=simple
User=ec2-user
WorkingDirectory=/opt/ndsl-hmi/data
ExecStart=/opt/ndsl-hmi/data/data-server
Restart=on-failure
RestartSec=5
EnvironmentFile=/opt/ndsl-hmi/data/.env

[Install]
WantedBy=multi-user.target
